h1{
    color: var(--Gray-1, #333);
    font-family: Cera Pro;
    font-size: 44px;
    font-style: normal;
    font-weight: 700; 
    line-height: 120%;
}    

.header_menu ul{
    color: var(--Gray-1, #333);
    font-family: Cera Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.banner .breadcrumps ul{
    color: var(--50-txt, rgba(0, 21, 31, 0.50));
    font-family: Cera Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.banner_container .banner_body{
    color: var(--Gray-2, #4F4F4F);
    font-family: Cera Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}

.banner_container .banner_body .buttons_banner .details{
    color: var(--white, #FFF);
    font-family: Cera Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
