.container {
    max-width: 1216px;
    margin: 0 auto;
}

.why-gbo-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.why-gbo-item {
    width: 50%;
}

.header-wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.banner-body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.what-gbo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   }