
.header-wrap {
    background-color:#FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.header_logo {
    display: flex;
    align-items: center;
}

.empty {
    flex-grow: 1;
}

.header_menu ul{
    display: flex;
    list-style: none;
}

.header_exit {
    display: flex;
    align-items: center;
}

/* (1) Баннер */

.banner {
    background-color:#F2F2F2;
}

.banner .banner_wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.breadcrumps ul{
    display: flex;
    list-style: none;
}

.banner-container {
    display: flex;
 
}

.banner-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}

.banner-picture {
    display: flex;
    flex-direction: row;
    width: 50%;

}

/* (2) Что такое ГБО */
.what_gbo {
    background-color: #E8F0EA;
}

.what_gbo .what_gbo_wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*  (3) Зачем ставить ГБО */

.why_gbo {
    background-color: #F2F2F2;
}

.why_gbo .why_gbo_wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}



.why_gbo_text {
    text-align: center;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; */
}

.why-gbo-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.why-gbo-item {
    width: 33%;
}

/* (4) Калькулятор */

.calc_container {
    background-color: #E8F0EA;
    
}

.calc_container .calc_body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.calc_container .calc_body .calc_title {
    text-align: center;
}

.calc-first-column {
    display: flex;
    flex-direction: column;
}

.calc-second-column {
    display: flex;
    flex-direction: column;
}

.first-column {
    display: flex;
    flex-direction: column;
}

.second-column {

}


.calc-wrap-column {
    display: flex;
    flex-direction: row;
}

/* (5) Популярные мифы */

.popular_myth {
    background-color: #F2F2F2;
}

.popular_myth h2{
    display: flex;
    justify-content: center;
}

.popular_myth .gbo_myth_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.popular_myth .gbo_myth_wrap .gbo_myth {
    width: 50%;
}

/* (6) Какой газ выбрать Таблица */

.type_gbo {
    background-color: #E8F0EA;
}

.type_gbo .type_gbo_wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.type_gbo .type_gbo_wrap .type_gbo_title {
    text-align: center;

}


.type_gbo .type_gbo_wrap .gbo_table tr:nth-child(2n+1) {
    background-color: #fff;
}


.footnote_table {

}


/* (7) Вопросы */

.questions {
    background-color: #F2F2F2;
    
}

.questions .questions_wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.questions .questions_wrap h2{
    text-align: center;
}

/*  (8) Партнеры */
.partners {
    background-color: #F2F2F2;
}

.partners .partners_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.partners .partners_container .partners_wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.partners .partners_container .partners_wrap img{
    margin: 10px;
 
}

/*  footer  */

.footer-wrap {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}






/* 
1 Почеуму белые полосы между блоками

2 Почему сноска в таблице не вконце

3 Работа с партнерами
*/