
.header_wrap {
    background-color:#FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.header_wrap .header_logo {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-top: 26px;
    margin-bottom: 18px;
}


.header_wrap .empty {
    flex-grow: 1;
}

.header_wrap .header_menu{
    display: flex;
    align-items: center;
    margin-right: 22px;
}

.header_wrap .header_menu ul{
    display: flex;
    list-style: none;
}

.header_wrap .header_menu li{
    padding-right: 25px;
}

.header_wrap .header_exit {
    display: flex;
    align-items: center;

}

.header_wrap .header_exit button{
    border: 0;
    background-color: #fff;
}
    

/* (1) Баннер */

.banner {
    background-color:#F2F2F2;
}

.banner .banner_wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.banner .breadcrumps ul{
    display: flex;
    list-style: none;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 0;
}

.banner .breadcrumps li{
    padding-right: 20px;
}

.banner-container {
    display: flex;
    min-height: 571px;
 
}

.banner_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.banner_body p{
    max-width: 598px;
    margin-top: 0;
}

.banner_body h1{
    margin-bottom: 20px;
}



h1{
    font-size: 44px;
    max-width: 563px;
    max-height: 159px;
}

.banner_picture {
    display: flex;
    border-radius: 30px;
    position: absolute;
    z-index: 1;
    right: 364px;
    top: 212px;
    height: 19%;
}

.banner_picture img{
    border-radius: 4%;
}

.banner_body_picture{
    display: flex;
    position: absolute;
    right: 338px;
    top: 178px;
    height: 23%;
}

}

/* (2) Что такое ГБО */
.what_gbo {
    background-color: #E8F0EA;
}

.what_gbo .what_gbo_wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.what_gbo .what_gbo_wrap .what_gbo_img{
    display: flex;
    flex-shrink: 0;
    margin-top: 83px;
    margin-bottom: 173px;
}

.what_gbo .what_gbo_wrap .what_gbo_text{
    text-align: center;
    max-width: 320px;
}

/*  (3) Зачем ставить ГБО */

.why_gbo {
    background-color: #F2F2F2;
}

.why_gbo .why_gbo_wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}



.why_gbo_text {
    text-align: center;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; */
}

.why-gbo-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.why-gbo-item {
    width: 33%;
}

/* (4) Калькулятор */

.calc_container {
    background-color: #E8F0EA;
    
}

.calc_container .calc_body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.calc_container .calc_body .calc_title {
    text-align: center;
}

.calc-first-column {
    display: flex;
    flex-direction: column;
}

.calc-second-column {
    display: flex;
    flex-direction: column;
}

.first-column {
    display: flex;
    flex-direction: column;
}

.second-column {

}


.calc-wrap-column {
    display: flex;
    flex-direction: row;
}

/* (5) Популярные мифы */

.popular_myth {
    background-color: #F2F2F2;
}

.popular_myth h2{
    display: flex;
    justify-content: center;
}

.popular_myth .gbo_myth_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.popular_myth .gbo_myth_wrap .gbo_myth {
    width: 50%;
}

/* (6) Какой газ выбрать Таблица */

.type_gbo {
    background-color: #E8F0EA;
}

.type_gbo .type_gbo_wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.type_gbo .type_gbo_wrap .type_gbo_title h2{
    text-align: center;

}

.type_gbo .type_gbo_wrap .type_gbo_title p{
    margin: auto;
    text-align: center;
    width: 600px;
}

.type_gbo .type_gbo_wrap .gbo_table tr:nth-child(2n+1) {
    background-color: #fff;
}

.type_gbo .type_gbo_wrap .gbo_table{
    margin: auto;
    width: 600px;
    padding: 40px;
}

/* ??????????????????????????????????? */


.footnote_table {

}


/* (7) Вопросы */

.questions {
    background-color: #F2F2F2;
    
}

.questions .questions_wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.questions .questions_wrap h2{
    text-align: center;
}

/*  (8) Партнеры */
.partners {
    background-color: #F2F2F2;
}

.partners .partners_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.partners .partners_container .partners_wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.partners .partners_container .partners_wrap img{
    margin: 10px;
 
}

/*  footer  */

.footer-wrap {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.bottom_menu{
    display: flex;
}





/* 
1 Почеуму белые полосы между блоками

2 Почему сноска в таблице не вконце

3 Работа с партнерами
*/